node_modules
.next
out
build
.DS_Store
*.pem

.env
.env.local
.env*.local

.data/
/tmp-screenshots/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

next-env.d.ts
.vercel
tsconfig.tsbuildinfo
.env*
